{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Server=(localdb)\\mssqllocaldb;Database=ReservationTerrainsDB;Trusted_Connection=True;MultipleActiveResultSets=true"
  },
  "Stripe": {
    "PublishableKey": "pk_test_VOTRE_CLE_PUBLIQUE_STRIPE",
    "SecretKey": "sk_test_VOTRE_CLE_SECRETE_STRIPE"
  }
}

